<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753843399461-l5na6i0fs6d2i3qmlujgasjdd5d48glc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753843399461-l5na6i0fs6d2i3qmlujgasjdd5d48glc</string>
	<key>API_KEY</key>
	<string>AIzaSyD7nVu16II0XWL5928eD319YLAXj3566CY</string>
	<key>GCM_SENDER_ID</key>
	<string>753843399461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SmartSoftPlus.Fuel-It</string>
	<key>PROJECT_ID</key>
	<string>fuel-it-be331</string>
	<key>STORAGE_BUCKET</key>
	<string>fuel-it-be331.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753843399461:ios:5421c3b0cbd0dae3aac8cc</string>
</dict>
</plist>